@model IEnumerable<Godius.Shop.Models.Goods>

@{
	ViewData["Title"] = "상품 목록";
}

<h3>상품 목록</h3>
<div class="card-deck">
	@foreach (var item in Model)
	{
		@Html.Partial("_GoodsTemplate", item)
	}
</div>