@{
	ViewData["Title"] = "통계";
}
<h3>통계</h3>

<ul class="nav nav-tabs" id="tabStatistics">
	<li class="active"><a data-toggle="tab" href="#perItem" id="btnPerItem">아이템</a></li>
	<li><a data-toggle="tab" href="#perUser" id="btnPerUser">유저</a></li>
</ul>

<div class="tab-content">
	<div id="perItem" class="tab-pane fade in active">
	</div>
	<div id="perUser" class="tab-pane fade">
	</div>
</div>

@section scripts {
<script type="text/javascript">
	$(document).ready(function () {
		function renderPerItemStatistics() {
			$.get('@Url.Action("PerItemStatistics", "Statistics")', {}, function (response) {
				$('#perItem').html(response);
			});
		}

		function renderPerUserStatistics() {
			$.get('@Url.Action("PerUserStatistics", "Statistics")', {}, function (response) {
				$('#perUser').html(response);
			});
		}

		renderPerItemStatistics();

		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			var targetId = $(e.target).attr('id') // activated tab
			if (targetId == 'btnPerItem') {
				renderPerItemStatistics();
			} else if (targetId == 'btnPerUser') {
				renderPerUserStatistics();
			}
		});
	});
</script>
}