@model Godius.Shop.Models.GoodsCategory

@{
	ViewData["Title"] = "상품 카테고리 삭제";
}

<h2>상품 카테고리 삭제</h2>

<h4>이 상품 카테고리를 삭제하시겠습니까?</h4>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.SerialCode)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.SerialCode)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>

	<form asp-action="DeleteCategory">
		<input type="hidden" asp-for="Id" />
		<input type="submit" value="삭제" class="btn btn-default" />
	</form>
	<div>
		<a asp-action="Index">뒤로</a>
	</div>

</div>