@model Godius.Shop.Models.GoodsViewModels.EditGoodsViewModel

@{
    ViewData["Title"] = "상품 수정";
}

<h2>상품 수정</h2>

<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="EditGoods" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<input type="hidden" asp-for="ImagePath" />
			<div class="form-group">
				<label asp-for="CategoryId" class="control-label"></label>
				<select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
			</div>
			<div class="form-group">
				<label asp-for="SerialCode" class="control-label"></label>
				<input asp-for="SerialCode" class="form-control" />
				<span asp-validation-for="SerialCode" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<textarea asp-for="Description" rows="5" cols="50" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Image" class="control-label"></label>
				@if (!String.IsNullOrEmpty(Model.ImagePath))
		{
			<img src="@Model.ImagePath" class="img-thumbnail" />
}
				<input asp-for="Image" type="file" />
				<span asp-validation-for="Image" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="수정" class="btn btn-default" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">뒤로</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
