@using Godius.Shop.Views.Manage

<ul class="nav nav-pills nav-stacked">
	<li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">프로필</a></li>
	<li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">비밀번호 변경</a></li>
	<li class="@ManageNavPages.PurchaseHistoryNavClass(ViewContext)"><a asp-action="PurchaseHistory">구매내역 확인</a></li>
</ul>

